apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nginx

helmCharts:
  - name: ingress-nginx
    repo: https://kubernetes.github.io/ingress-nginx
    version: 4.14.1       # updated to the version you found
    releaseName: nginx
    includeCRDs: true
    valuesInline:
      controller:
        replicaCount: 2
        service:
          type: ClusterIP
        ingressClassResource:
          default: true
      defaultBackend:
        enabled: false
