apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: cert-manager-components
  namespace: argocd
spec:
  generators:
  - git:
      repoURL: https://github.com/Aschonn/argocd-homelab.git
      revision: HEAD
      directories:
        - path: infra/cert-manager/kustomize
  template:
    metadata:
      name: cert-manager
      labels:
        type: infrastructure
    spec:
      project: default
      source:
        plugin:
          name: kustomize-build-with-helm
        repoURL: https://github.com/Aschonn/argocd-homelab.git
        targetRevision: HEAD
        path: '{{path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: cert-manager
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
