cluster:
  name: argocd-homelab
  id: 1

kubeProxyReplacement: true
k8sServiceHost: 192.168.0.83
k8sServicePort: 6443

securityContext:
  capabilities:
    ciliumAgent: [ CHOWN, KILL, NET_ADMIN, NET_RAW, IPC_LOCK, SYS_ADMIN, SYS_RESOURCE, DAC_OVERRIDE, FOWNER, SETGID, SETUID ]
    cleanCiliumState: [ NET_ADMIN, SYS_ADMIN, SYS_RESOURCE ]

cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup

ipam:
  mode: kubernetes

operator:
  rollOutPods: true
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 128Mi

rollOutCiliumPods: true

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 200m
    memory: 512Mi

debug:
  enabled: true

k8sClientRateLimit:
  qps: 100
  burst: 200

l2announcements:
  enabled: true

externalIPs:
  enabled: true

loadBalancer:
  algorithm: maglev

gatewayAPI:
  enabled: true
  enableAlpn: false

envoy:
  securityContext:
    capabilities:
      keepCapNetBindService: true
      envoy: [ NET_ADMIN, PERFMON, BPF ]

hubble:
  enabled: true
  relay:
    enabled: true
    rollOutPods: true
  ui:
    enabled: true
    rollOutPods: true

ingressController:
  enabled: false
  default: true
  loadbalancerMode: shared
  service:
    annotations:
      io.cilium/lb-ipam-ips: 192.168.0.224

authentication:
  enabled: false
  mutual:
    spire:
      enabled: false
      install:
        server:
          dataStorage:
            storageClass: cilium-spire-sc

# Custom Resources
customResources:
  ciliumL2AnnouncementPolicies:
    - name: main-l2-policy
      interfaces:
        - eth.*
        - enp.*
        - ens.*
        - wlan.*
        - wlp.*
      loadBalancerIPs: true
      externalIPs: true

  ciliumLoadBalancerIPPools:
    - name: main-pool
      blocks:
        - cidr: "192.168.0.224/28"  # Usable IPs: 192.168.101.17 to 192.168.101.30
      allowFirstLastIPs: "No"
